%% pre-hooks
{pre_hooks,
 [
  {compile,
   "sh -c 'if [ ! -f priv/include/asio.hpp ]; then "
   "make LDFLAGS= "
   "CFLAGS= "
   "CXXFLAGS= "
   "INSTALL_PREFIX=$(pwd)/priv "
   "BUILD_PROXY_IO=OFF "
   "WITH_CEPH=ON "
   "WITH_S3=ON "
   "WITH_SWIFT=ON "
   "WITH_GLUSTERFS=ON "
   "install; "
   "fi'"},
  {compile, "rm -f priv/lib/libhelpers.so"},
  {clean, "make clean"}
]}.

{clean_files, ["./priv"]}.
