Checks: >-
  *,
  -abseil*,
  -android*,
  -*braces-around-statements,
  -cert-err58-cpp,
  -clang-analyzer-alpha.*,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -fuchsia*,
  -google-readability-todo,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,-google-runtime-references,
  -llvm-header-guard,
  -modernize-avoid-bind,
  -mpi*,
  -objc*,
  -*osx*,
  -performance-unnecessary-value-param,
  -zircon*
WarningsAsErrors: '*'
HeaderFilterRegex: 'oneclient/include|oneclient/src'
CheckOptions:
  - key:             readability-identifier-naming.ClassMemberPrefix
    value:           'm_'
