[submodule "veilprotocol"]
	path = veilprotocol
	url = ssh://git@git.plgrid.pl:7999/VFS/veilprotocol.git

[submodule "src/google-glog"]
	path = src/google-glog
	url = https://github.com/svn2github/google-glog.git
[submodule "src/yaml-cpp"]
	path = src/yaml-cpp
	url = https://github.com/nebirhos/yaml-cpp.git
